<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/mainLayout}">

<th:block layout:fragment="script">
    <script type="text/javascript" th:src="@{/js/mainPage.js}"></script>
</th:block>

<th:block layout:fragment="css">
    <style type="text/css" th:href="@{/css/mainPage.css}"></style>
</th:block>


<div layout:fragment="content" style="min-width: 700px; max-width: 900px; margin: 50px auto 100px auto;">
    hi!
</div>
</html>